<div id="home" class="container-fluid" style="
	background-color: #258ea6;
	opacity: 0.8;
    background-image: linear-gradient(to bottom right, #03b5aa, #88ccf1, #01baef, #88ccf1, #02c39a);
	font-family: 'Raleway', sans-serif;
  	padding: 1em 2em;
  	color:black;
  	width: 100%;
  	height: 100%;
  	position:fixed;
">
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" style="margin-top: 20%">
			<center>
				<h1>
					We bring 
					<span
				     class="txt-rotate"
				     data-period="2000"
				     data-rotate='[ "high standard", "simple", "practical", "awesome", "clean", "effective" ]'>
				     </span>
				      solutions for business and life
				</h1><br/>
				<a href="/services" class="btn btn-light" role="button">See our services</a>
			</center>
		</div>
	</div>
</div>