<div id="company" class="container-fluid" style="
	font-family: 'Raleway', sans-serif;
">
	<div class="row" style="margin-top: 5%;">
		<div class="col-md-2 col-lg-2 col-xl-2"></div>
		<div class="col-md-8 col-lg-8 col-xl-8">
			<center>
				<h2>
					<b>Software solutions provider</b>
				</h2><br/>
				<h4>We've built a strong leading team of software engineers, designers, project managers and specialists in all areas required to provide a high standard products to our clients.</h4>
			</center>
		</div>
		<div class="col-md-2 col-lg-2 col-xl-2"></div>
	</div>
	<div class="row">
		<div class="col-md-3 col-lg-3 col-xl-3">
		</div>
		<div class="col-md-3 col-lg-3 col-xl-3">
		</div>
		<div class="col-md-3 col-lg-3 col-xl-3">
		</div>
		<div class="col-md-3 col-lg-3 col-xl-3">
		</div>
	</div>
	<hr/>

</div>